---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71940'
      X-Ratelimit-Reset:
      - '2141'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.10.0-3-g50eda21",
          "core_version": "v0.6.1-2-g12a1603",
          "history_latest_ledger": 124863,
          "history_elder_ledger": 1,
          "core_latest_ledger": 124863,
          "core_elder_ledger": 1,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 4
        }
  recorded_at: Sun, 26 Mar 2017 07:29:03 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[destination_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71939'
      X-Ratelimit-Reset:
      - '2139'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[destination_address]",
          "paging_token": "",
          "account_id": "[destination_address]",
          "sequence": "534727723319299",
          "subentry_count": 2,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "0.0000000",
              "limit": "922337203685.4775807",
              "asset_type": "credit_alphanum12",
              "asset_code": "LONGNAME",
              "asset_issuer": "[source_address]"
            },
            {
              "balance": "300.0000000",
              "limit": "922337203685.4775807",
              "asset_type": "credit_alphanum4",
              "asset_code": "BTC",
              "asset_issuer": "[source_address]"
            },
            {
              "balance": "9999.9999700",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[destination_address]",
              "weight": 1,
              "key": "[destination_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Sun, 26 Mar 2017 07:29:05 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71938'
      X-Ratelimit-Reset:
      - '2138'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links[...]
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAKEiSt7wL8zHIfwsJF5PvoI%2FqW7Epb2ihhiW7lxPpHJCAAAAZAABO5IAAAApAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAA8RA%2BPteVWFSF0ebzR9MQD1xUygu9t%2BQcKZWQYBZAumAAAAABQlRDAAAAAAChIkre8C%2FMxyH8LCReT76CP6luxKW9ooYYlu5cT6RyQgAAAABZaC8AAAAAAAAAAAFPpHJCAAAAQN59VbAYLZ5QTP%2FPgRKodGuAWDdIb5UKgI03ujYL%2FaS640wSVnxDWARvqYhcnc3epkBkV%2B%2Bgpfeq%2B%2B6uuNXD0AI%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71937'
      X-Ratelimit-Reset:
      - '2137'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/538e77af044e06bc1392c8b202165894c068e10d019f6d953ad9ad79689e4ce1"
            }
          },
          "hash": "538e77af044e06bc1392c8b202165894c068e10d019f6d953ad9ad79689e4ce1",
          "ledger": 124865,
          "envelope_xdr": "AAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAZAABO5IAAAApAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAA8RA+PteVWFSF0ebzR9MQD1xUygu9t+QcKZWQYBZAumAAAAABQlRDAAAAAAChIkre8C/MxyH8LCReT76CP6luxKW9ooYYlu5cT6RyQgAAAABZaC8AAAAAAAAAAAFPpHJCAAAAQN59VbAYLZ5QTP/PgRKodGuAWDdIb5UKgI03ujYL/aS640wSVnxDWARvqYhcnc3epkBkV++gpfeq++6uuNXD0AI=",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAAAAAAEAAAACAAAAAwAB564AAAABAAAAAPEQPj7XlVhUhdHm80fTEA9cVMoLvbfkHCmVkGAWQLpgAAAAAUJUQwAAAAAAoSJK3vAvzMch/CwkXk++gj+pbsSlvaKGGJbuXE+kckIAAAAAstBeAH//////////AAAAAQAAAAAAAAAAAAAAAQAB58EAAAABAAAAAPEQPj7XlVhUhdHm80fTEA9cVMoLvbfkHCmVkGAWQLpgAAAAAUJUQwAAAAAAoSJK3vAvzMch/CwkXk++gj+pbsSlvaKGGJbuXE+kckIAAAABDDiNAH//////////AAAAAQAAAAAAAAAA"
        }
  recorded_at: Sun, 26 Mar 2017 07:29:10 GMT
[...]
