---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17197'
      X-Ratelimit-Reset:
      - '3535'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "snapshot-cfa216c",
          "core_version": "stellar-core 9.2.0rc6 (b0923f153b86d394a83b2a619db6b23f07ed0700)",
          "history_latest_ledger": 9007796,
          "history_elder_ledger": 1,
          "core_latest_ledger": 9007796,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 9
        }
  recorded_at: Thu, 17 May 2018 07:29:40 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17197'
      X-Ratelimit-Reset:
      - '3534'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "paging_token": "",
          "account_id": "[source_address]",
          "sequence": "38688184934072320",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "10000.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[source_address]",
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Thu, 17 May 2018 07:29:43 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAMBqzCqzrOSD947DRdUVKwA3PBI6kJI9vkU9Qw0yW7EZAAAAZACJcrMAAAABAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAbCBUd5htFXQJuBbVX9Pni5GzQcs%2FrQcsdnt5HYhsoIUAAAAAATEtAAAAAAAAAAABMluxGQAAAEDqQ9d38ssFTELp0ZIbUUmMVtW2OsFjpYnXw6SiH9o8VYZriIo%2ByDU%2BPiOE1563Ec7kaFP7IOypQdhiYIih6lsI
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17196'
      X-Ratelimit-Reset:
      - '3531'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/1631fe9b141bb09b457544473e5d51784c0508fa522e7b6c1b60c4ba033927ed"
            }
          },
          "hash": "1631fe9b141bb09b457544473e5d51784c0508fa522e7b6c1b60c4ba033927ed",
          "ledger": 9007798,
          "envelope_xdr": "AAAAAMBqzCqzrOSD947DRdUVKwA3PBI6kJI9vkU9Qw0yW7EZAAAAZACJcrMAAAABAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAbCBUd5htFXQJuBbVX9Pni5GzQcs/rQcsdnt5HYhsoIUAAAAAATEtAAAAAAAAAAABMluxGQAAAEDqQ9d38ssFTELp0ZIbUUmMVtW2OsFjpYnXw6SiH9o8VYZriIo+yDU+PiOE1563Ec7kaFP7IOypQdhiYIih6lsI",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAAAAAAEAAAADAAAAAACJcrYAAAAAAAAAAGwgVHeYbRV0CbgW1V/T54uRs0HLP60HLHZ7eR2IbKCFAAAAAAExLQAAiXK2AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAwCJcrYAAAAAAAAAAMBqzCqzrOSD947DRdUVKwA3PBI6kJI9vkU9Qw0yW7EZAAAAF0h255wAiXKzAAAAAQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQCJcrYAAAAAAAAAAMBqzCqzrOSD947DRdUVKwA3PBI6kJI9vkU9Qw0yW7EZAAAAF0dFupwAiXKzAAAAAQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA"
        }
  recorded_at: Thu, 17 May 2018 07:29:46 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GBWCAVDXTBWRK5AJXALNKX6T46FZDM2BZM722BZMOZ5XSHMINSQILTPZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17195'
      X-Ratelimit-Reset:
      - '[...]
[...]
