# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
trim_trailing_whitespace = true
indent_style = space
insert_final_newline = true

[*.x]
indent_size = 4

[*.{rb,js,yml,yaml}]
charset = utf-8
indent_size = 2
max_line_length = 120
