---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.30.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "accounts": {
              "href": "https://horizon-testnet.stellar.org/accounts{?signer,sponsor,asset,liquidity_pool,cursor,limit,order}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "claimable_balances": {
              "href": "https://horizon-testnet.stellar.org/claimable_balances{?asset,claimant,sponsor}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/effects{?cursor,limit,order}",
              "templated": true
            },
            "fee_stats": {
              "href": "https://horizon-testnet.stellar.org/fee_stats"
            },
            "friendbot": {
              "href": "https://friendbot.stellar.org/{?addr}",
              "templated": true
            },
            "ledger": {
              "href": "https://horizon-testnet.stellar.org/ledger/{sequence}",
              "templated": true
            },
            "ledgers": {
              "href": "https://horizon-testnet.stellar.org/ledgers{?cursor,limit,order}",
              "templated": true
            },
            "liquidity_pools": {
              "href": "https://horizon-testnet.stellar.org/liquidity_pools?{?reserves,account}",
              "templated": true
            },
            "offer": {
              "href": "https://horizon-testnet.stellar.org/offers/{offer_id}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/offers{?selling,buying,seller,sponsor,cursor,limit,order}",
              "templated": true
            },
            "operation": {
              "href": "https://horizon-testnet.stellar.org/operations/{id}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/operations{?cursor,limit,order,include_failed}",
              "templated": true
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/payments{?cursor,limit,order,include_failed}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "strict_receive_paths": {
              "href": "https://horizon-testnet.stellar.org/paths/strict-receive{?source_assets,source_account,destination_account,destination_asset_type,destination_asset_issuer,destination_asset_code,destination_amount}",
              "templated": true
            },
            "strict_send_paths": {
              "href": "https://horizon-testnet.stellar.org/paths/strict-send{?destination_account,destination_assets,source_asset_type,source_asset_issuer,source_asset_code,source_amount}",
              "templated": true
            },
            "trade_aggregations": {
              "href": "https://horizon-testnet.stellar.org/trade_aggregations?base_asset_type={base_asset_type}\u0026base_asset_code={base_asset_code}\u0026base_asset_issuer={base_asset_issuer}\u0026counter_asset_type={counter_asset_type}\u0026counter_asset_code={counter_asset_code}\u0026counter_asset_issuer={counter_asset_issuer}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/trades?base_asset_type={base_asset_type}\u0026base_asset_code={base_asset_code}\u0026base_asset_issuer={base_asset_issuer}\u0026counter_asset_type={counter_asset_type}\u0026counter_asset_code={counter_asset_code}\u0026counter_asset_issuer={counter_asset_issuer}",
              "templated": true
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "2.11.0-07dcbb1e43d9ee991461e1284af1d11dcae645d7",
          "core_version": "stellar-core 18.1.0 (dc5f5a392098b82bd9453a2aa4259e7af600ad9d)",
          "ingest_latest_ledger": 1239160,
          "history_latest_ledger": 1239160,
          "history_latest_ledger_closed_at": "2021-11-29T18:17:07Z",
          "history_elder_ledger": 2,
          "core_latest_ledger": 1239160,
          "network_passphrase": "Test SDF Network ; September 2015",
          "current_protocol_version": 18,
          "core_supported_protocol_version": 18
        }
  recorded_at: Mon, 29 Nov 2021 18:17:11 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/claimable_balances?sponsor=GDCMAMQQEF762HKWOILEVRTMC36UXC32LXV3XK4QI4POYQ5SUWZAVFSR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.30.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      Latest-Ledger:
      - '1239161'
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/claimable_balances?cursor=&;limit=10&order=asc&sponsor=GDCMAMQQEF762HKWOILEVRTMC36UXC32LXV3XK4QI4POYQ5SUWZAVFSR"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/claimable_balances?cursor=16971-000000006c08443899e3e5d3a4c0c93881dc70c4a35c93a4d35bf8bbfd4dd57770b58365&;limit=10&order=asc&sponsor=GDCMAMQQEF762HKWOILEVRTMC36UXC32LXV3XK4QI4POYQ5SUWZAVFSR"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/claimable_balances?cursor=16971-000000006c08443899e3e5d3a4c0c93881dc70c4a35c93a4d35bf8bbfd4dd57770b58365&;limit=10&order=desc&sponsor=GDCMAMQQEF762HKWOILEVRTMC36UXC32LXV3XK4QI4POYQ5SUWZAVFSR"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/claimable_balances/000000006c08443899e3e5d3a4c0c93881dc70c4a35c93a4d35bf8bbfd4dd57770b58365"
                  },
                  "transactions": {
                    "href": "https://horizon-testnet.stellar.org/claimable_balances/000000006c08443899e3e5d3a4c0c93881dc70c4a35c93a4d35bf8bbfd4dd57770b58365/transactions{?cursor,limit,order}",
                    "templated": true
                  },
                  "operations": {
                    "href": "https://horizon-testnet.stellar.org/claimable_balances/000000006c08443899e3e5d3a4c0c93881dc70c4a35c93a4d35bf8bbfd4dd57770b58365/operations{?cursor,limit,order}",
                    "templated": true
                  }
                },
                "id": "000000006c08443899e3e5d3a4c0c93881dc70c4a35c93a4d35bf8bbfd4dd57770b58365",
                "asset": "XXX:GCGQMVO4AOOQ3BQHGUGT52Y3XOMME6DPEB6QQDX44MC466FMDW2QTMRE",
                "amount": "10.0000000",
                "sponsor": "GDCMAMQQEF762HKWOILEVRTMC36UXC32LXV3XK4QI4POYQ5SUWZAVFSR",
                "last_modified_ledger": 16971,
                "last_modified_time": "2021-09-16T09:59:36Z",
                "claimants": [
                  {
                    "destination": "GBGKGC6U6NAWFHBXQV4KKFMUA4JLTNB4R6AABAHIHUIT2ZCWSR5HKGZB",
                    "predicate": {
                      "and": [
                        {
                          "not": {
                            "abs_before": "2021-09-17T09:59:34Z"
                          }
                        },
                        {
                          "abs_before": "2021-10-17T09:59:34Z"
                        }
                      ]
                    }
                  },
                  {
                    "destination": "GDCMAMQQEF762HKWOILEVRTMC36UXC32LXV3XK4QI4POYQ5SUWZAVFSR",
                    "predicate": {
                      "or": [
                        {
                          "abs_before": "2021-09-17T09:59:34Z"
                        },
                        {
                          "not": {
                            "abs_before": "2021-10-17T09:59:34Z"
                          }
                        }
                      ]
                    }
                  }
                ],
                "flags": {
                  "clawback_enabled": false
                },
                "paging_token": "16971-000000006c08443899e3e5d3a4c0c93881dc70c4a35c93a4d35bf8bbfd4dd57770b58365"
              }
            ]
          }
        }
  recorded_at: Mon, 29 Nov 2021 18:17:12 GMT
recorded_with: VCR 6.0.0
