---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17196'
      X-Ratelimit-Reset:
      - '3531'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5/payments?cursor=\u0026limit=10\u0026order=asc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/accounts/GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5/payments?cursor=22379674420121609\u0026limit=10\u0026order=asc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/accounts/GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5/payments?cursor=22369873304752129\u0026limit=10\u0026order=desc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/22369873304752129"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/95514b3778a5040e6bc285cba74f4bd9903816cf5e0d396ee533ef3d878a378d"
                  },
                  "effects": {
                    "href": "https://horizon-testnet.stellar.org/operations/22369873304752129/effects"
                  },
                  "succeeds": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=desc\u0026cursor=22369873304752129"
                  },
                  "precedes": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=asc\u0026cursor=22369873304752129"
                  }
                },
                "id": "22369873304752129",
                "paging_token": "22369873304752129",
                "source_account": "GBS43BF24ENNS3KPACUZVKK2VYPOZVBQO2CISGZ777RYGOPYC2FT6S3K",
                "type": "create_account",
                "type_i": 0,
                "created_at": "2017-11-09T21:46:32Z",
                "transaction_hash": "95514b3778a5040e6bc285cba74f4bd9903816cf5e0d396ee533ef3d878a378d",
                "starting_balance": "10000.0000000",
                "funder": "GBS43BF24ENNS3KPACUZVKK2VYPOZVBQO2CISGZ777RYGOPYC2FT6S3K",
                "account": "GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5"
              },
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/22379674420121601"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/9a0cff6f6714b1c445be765ac449c83514c6352427b24da81ea325305dcdaeac"
                  },
                  "effects": {
                    "href": "https://horizon-testnet.stellar.org/operations/22379674420121601/effects"
                  },
                  "succeeds": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=desc\u0026cursor=22379674420121601"
                  },
                  "precedes": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=asc\u0026cursor=22379674420121601"
                  }
                },
                "id": "22379674420121601",
                "paging_token": "22379674420121601",
                "source_account": "GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5",
                "type": "payment",
                "type_i": 1,
                "created_at": "2017-11-10T00:14:20Z",
                "transaction_hash": "9a0cff6f6714b1c445be765ac449c83514c6352427b24da81ea325305dcdaeac",
                "asset_type": "credit_alphanum12",
                "asset_code": "c2185b",
                "asset_issuer": "GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5",
                "from": "GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5",
                "to": "GAWPD2N2LU3SKR77JCKP3J3ETOO3LXHBVEBQ4GUDLLIM5OAMG4AQHFVD",
                "amount": "1000.0000000"
              },
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/22379674420121602"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/9a0cff6f6714b1c445be765ac449c83514c6352427b24da81ea325305dcdaeac"
                  },
                  "effects": {
                    "href": "https://horizon-tes[...]
