---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/ledgers/9356704/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17194'
      X-Ratelimit-Reset:
      - '3531'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/ledgers/9356704/payments?cursor=\u0026limit=10\u0026order=asc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/ledgers/9356704/payments?cursor=40186737678360584\u0026limit=10\u0026order=asc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/ledgers/9356704/payments?cursor=40186737678356481\u0026limit=10\u0026order=desc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/40186737678356481"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/08dd55a8a64d373f13680b09951362f7494481f1d634c270b8e5b558d8d5f09d"
                  },
                  "effects": {
                    "href": "https://horizon-testnet.stellar.org/operations/40186737678356481/effects"
                  },
                  "succeeds": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=desc\u0026cursor=40186737678356481"
                  },
                  "precedes": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=asc\u0026cursor=40186737678356481"
                  }
                },
                "id": "40186737678356481",
                "paging_token": "40186737678356481",
                "source_account": "GCANEDZUIL7MBBWWCTQ25534UMCOIQLEH3IPOCU7W7H6LK7I35WAE7BI",
                "type": "payment",
                "type_i": 1,
                "created_at": "2018-06-06T12:05:57Z",
                "transaction_hash": "08dd55a8a64d373f13680b09951362f7494481f1d634c270b8e5b558d8d5f09d",
                "asset_type": "credit_alphanum12",
                "asset_code": "nCntGameCoin",
                "asset_issuer": "GDLMDXI6EVVUIXWRU4S2YVZRMELHUEX3WKOX6XFW77QQC6KZJ4CZ7NRB",
                "from": "GCANEDZUIL7MBBWWCTQ25534UMCOIQLEH3IPOCU7W7H6LK7I35WAE7BI",
                "to": "GC25MF2YFV2KTBVVVL7HT3PHAMGV7N46DVL75MJU4IVXSXVTAOIIHKCM",
                "amount": "1.0000000"
              },
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/40186737678360577"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/5bf841305e0b549b81629253ab2cbfa76229af5f8e02faa74fe059f6fcf88a76"
                  },
                  "effects": {
                    "href": "https://horizon-testne[...]
