---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/payments?cursor=22379674420121606
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17195'
      X-Ratelimit-Reset:
      - '3531'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/payments?cursor=22379674420121606\u0026limit=10\u0026order=asc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/payments?cursor=22379674420121616\u0026limit=10\u0026order=asc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/payments?cursor=22379674420121607\u0026limit=10\u0026order=desc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/22379674420121607"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/9a0cff6f6714b1c445be765ac449c83514c6352427b24da81ea325305dcdaeac"
                  },
                  "effects": {
                    "href": "https://horizon-testnet.stellar.org/operations/22379674420121607/effects"
                  },
                  "succeeds": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=desc\u0026cursor=22379674420121607"
                  },
                  "precedes": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=asc\u0026cursor=22379674420121607"
                  }
                },
                "id": "22379674420121607",
                "paging_token": "22379674420121607",
                "source_account": "GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5",
                "type": "payment",
                "type_i": 1,
                "created_at": "2017-11-10T00:14:20Z",
                "transaction_hash": "9a0cff6f6714b1c445be765ac449c83514c6352427b24da81ea325305dcdaeac",
                "asset_type": "credit_alphanum12",
                "asset_code": "0097a7",
                "asset_issuer": "GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5",
                "from": "GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5",
                "to": "GAWPD2N2LU3SKR77JCKP3J3ETOO3LXHBVEBQ4GUDLLIM5OAMG4AQHFVD",
                "amount": "1000.0000000"
              },
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/22379674420121608"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/9a0cff6f6714b1c445be765ac449c83514c6352427b24da81ea325305dcdaeac"
                  },
                  "effects": {
                    "href": "https://horizon-tes[...]
