---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17197'
      X-Ratelimit-Reset:
      - '3531'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/payments?cursor=\u0026limit=10\u0026order=asc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/payments?cursor=10398115827713\u0026limit=10\u0026order=asc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/payments?cursor=10157597659137\u0026limit=10\u0026order=desc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/10157597659137"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/17a670bc424ff5ce3b386dbfaae9990b66a2a37b4fbe51547e8794962a3f9e6a"
                  },
                  "effects": {
                    "href": "https://horizon-testnet.stellar.org/operations/10157597659137/effects"
                  },
                  "succeeds": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=desc\u0026cursor=10157597659137"
                  },
                  "precedes": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=asc\u0026cursor=10157597659137"
                  }
                },
                "id": "10157597659137",
                "paging_token": "10157597659137",
                "source_account": "GBRPYHIL2CI3FNQ4BXLFMNDLFJUNPU2HY3ZMFSHONUCEOASW7QC7OX2H",
                "type": "create_account",
                "type_i": 0,
                "created_at": "2017-03-20T19:50:52Z",
                "transaction_hash": "17a670bc424ff5ce3b386dbfaae9990b66a2a37b4fbe51547e8794962a3f9e6a",
                "starting_balance": "50000000.0000000",
                "funder": "GBRPYHIL2CI3FNQ4BXLFMNDLFJUNPU2HY3ZMFSHONUCEOASW7QC7OX2H",
                "account": "GBS43BF24ENNS3KPACUZVKK2VYPOZVBQO2CISGZ777RYGOPYC2FT6S3K"
              },
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/10157597659138"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/17a670bc424ff5ce3b386dbfaae9990b66a2a37b4fbe51547e8794962a3f9e6a"
                  },
                  "effects": {
       [...]
