---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71932'
      X-Ratelimit-Reset:
      - '2103'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.10.0-3-g50eda21",
          "core_version": "v0.6.1-2-g12a1603",
          "history_latest_ledger": 124871,
          "history_elder_ledger": 1,
          "core_latest_ledger": 124872,
          "core_elder_ledger": 1,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 4
        }
  recorded_at: Sun, 26 Mar 2017 07:29:41 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[destination_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71931'
      X-Ratelimit-Reset:
      - '2102'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[destination_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[destination_address]",
          "paging_token": "",
          "account_id": "[destination_address]",
          "sequence": "534727723319299",
          "subentry_count": 2,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "0.0000000",
              "limit": "922337203685.4775807",
              "asset_type": "credit_alphanum12",
              "asset_code": "LONGNAME",
              "asset_issuer": "[source_address]"
            },
            {
              "balance": "450.0000000",
              "limit": "922337203685.4775807",
              "asset_type": "credit_alphanum4",
              "asset_code": "BTC",
              "asset_issuer": "[source_address]"
            },
            {
              "balance": "9999.9999700",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[destination_address]",
              "weight": 1,
              "key": "[destination_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Sun, 26 Mar 2017 07:29:42 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71930'
      X-Ratelimit-Reset:
      - '2100'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links[...]
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAKEiSt7wL8zHIfwsJF5PvoI%2FqW7Epb2ihhiW7lxPpHJCAAAAZAABO5IAAAAqAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAA8RA%2BPteVWFSF0ebzR9MQD1xUygu9t%2BQcKZWQYBZAumAAAAACTE9OR05BTUUAAAAAAAAAAKEiSt7wL8zHIfwsJF5PvoI%2FqW7Epb2ihhiW7lxPpHJCAAAAAFloLwAAAAAAAAAAAU%2BkckIAAABAQx5DHEnThKdnt7he%2Fp%2B8TihB8dzmC95FCP73AyRugyf6OG5M5fRm%2BklDF5kAc786sTG1CwTyNN8Yv8qY9E3HDw%3D%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71929'
      X-Ratelimit-Reset:
      - '2099'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/39a1bf57589f1cc37e3303238b5d3ad7aade9d5996a6a0370ccdb336cb3fca0f"
            }
          },
          "hash": "39a1bf57589f1cc37e3303238b5d3ad7aade9d5996a6a0370ccdb336cb3fca0f",
          "ledger": 124875,
          "envelope_xdr": "AAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAZAABO5IAAAAqAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAA8RA+PteVWFSF0ebzR9MQD1xUygu9t+QcKZWQYBZAumAAAAACTE9OR05BTUUAAAAAAAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAAFloLwAAAAAAAAAAAU+kckIAAABAQx5DHEnThKdnt7he/p+8TihB8dzmC95FCP73AyRugyf6OG5M5fRm+klDF5kAc786sTG1CwTyNN8Yv8qY9E3HDw==",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAAAAAAEAAAACAAAAAwAB52oAAAABAAAAAPEQPj7XlVhUhdHm80fTEA9cVMoLvbfkHCmVkGAWQLpgAAAAAkxPTkdOQU1FAAAAAAAAAAChIkre8C/MxyH8LCReT76CP6luxKW9ooYYlu5cT6RyQgAAAAAAAAAAf/////////8AAAABAAAAAAAAAAAAAAABAAHnywAAAAEAAAAA8RA+PteVWFSF0ebzR9MQD1xUygu9t+QcKZWQYBZAumAAAAACTE9OR05BTUUAAAAAAAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAAFloLwB//////////wAAAAEAAAAAAAAAAA=="
        }
  recorded_at: Sun, 26 Mar 2017 07:29:50 GMT
[...]
