---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17188'
      X-Ratelimit-Reset:
      - '3267'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "snapshot-cfa216c",
          "core_version": "stellar-core 9.2.0rc6 (b0923f153b86d394a83b2a619db6b23f07ed0700)",
          "history_latest_ledger": 9007850,
          "history_elder_ledger": 1,
          "core_latest_ledger": 9007850,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 9
        }
  recorded_at: Thu, 17 May 2018 07:34:10 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17187'
      X-Ratelimit-Reset:
      - '3265'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "paging_token": "",
          "account_id": "[source_address]",
          "sequence": "38688184934072324",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "9995.9999600",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[source_address]",
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Thu, 17 May 2018 07:34:13 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAMBqzCqzrOSD947DRdUVKwA3PBI6kJI9vkU9Qw0yW7EZAAAAZACJcrMAAAAFAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAATST1pJMRqf2C6KsjrVKSlvOMGEzCCmomsQHdeN03a4EAAAAAATEtAAAAAAAAAAABMluxGQAAAEA5lvjEjJ9Ys8mL6knwrPLHVDjJtkgCAwFuzkc0JHbhnexGI73FFmoiljC%2FSp3e5BJpScMN%2FWi%2FaK3%2Bs%2F3sSmYO
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17186'
      X-Ratelimit-Reset:
      - '3263'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/75485ce3d35a86fa7ec376edac6baed38ff7e5cae6db5cf3f01cbaa31306c043"
            }
          },
          "hash": "75485ce3d35a86fa7ec376edac6baed38ff7e5cae6db5cf3f01cbaa31306c043",
          "ledger": 9007852,
          "envelope_xdr": "AAAAAMBqzCqzrOSD947DRdUVKwA3PBI6kJI9vkU9Qw0yW7EZAAAAZACJcrMAAAAFAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAATST1pJMRqf2C6KsjrVKSlvOMGEzCCmomsQHdeN03a4EAAAAAATEtAAAAAAAAAAABMluxGQAAAEA5lvjEjJ9Ys8mL6knwrPLHVDjJtkgCAwFuzkc0JHbhnexGI73FFmoiljC/Sp3e5BJpScMN/Wi/aK3+s/3sSmYO",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAAAAAAEAAAADAAAAAACJcuwAAAAAAAAAAE0k9aSTEan9guirI61SkpbzjBhMwgpqJrEB3XjdN2uBAAAAAAExLQAAiXLsAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAwCJcuwAAAAAAAAAAMBqzCqzrOSD947DRdUVKwA3PBI6kJI9vkU9Qw0yW7EZAAAAF0YUjAwAiXKzAAAABQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQCJcuwAAAAAAAAAAMBqzCqzrOSD947DRdUVKwA3PBI6kJI9vkU9Qw0yW7EZAAAAF0TjXwwAiXKzAAAABQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA"
        }
  recorded_at: Thu, 17 May 2018 07:34:17 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GBGSJ5NESMI2T7MC5CVSHLKSSKLPHDAYJTBAU2RGWEA526G5G5VYCQO3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17188'
      X-Ratelimit-Reset:
      - '[...]
[...]
