---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.8.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "accounts": {
              "href": "https://horizon-testnet.stellar.org/accounts{?signer,asset,cursor,limit,order}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://friendbot.stellar.org/{?addr}",
              "templated": true
            },
            "offer": {
              "href": "https://horizon-testnet.stellar.org/offers/{offer_id}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/offers{?selling,buying,seller,cursor,limit,order}",
              "templated": true
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "strict_receive_paths": {
              "href": "https://horizon-testnet.stellar.org/paths/strict-receive{?source_assets,source_account,destination_account,destination_asset_type,destination_asset_issuer,destination_asset_code,destination_amount}",
              "templated": true
            },
            "strict_send_paths": {
              "href": "https://horizon-testnet.stellar.org/paths/strict-send{?destination_account,destination_assets,source_asset_type,source_asset_issuer,source_asset_code,source_amount}",
              "templated": true
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "1.0.1-2c2d8fb0c3ae0516dcbbb39f189ca00731c9c8c3",
          "core_version": "stellar-core 12.4.0 (c0136139802ac1a1ac8899424e7888fa9366414e)",
          "ingest_latest_ledger": 988988,
          "history_latest_ledger": 988988,
          "history_elder_ledger": 1,
          "core_latest_ledger": 988988,
          "network_passphrase": "Test SDF Network ; September 2015",
          "current_protocol_version": 12,
          "core_supported_protocol_version": 12
        }
  recorded_at: Tue, 31 Mar 2020 19:10:42 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.8.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      Latest-Ledger:
      - '988988'
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "account_id": "[source_address]",
          "sequence": "3030756557324296",
          "subentry_count": 0,
          "last_modified_ledger": 988988,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false,
            "auth_immutable": false
          },
          "balances": [
            {
              "balance": "9495.8999200",
              "buying_liabilities": "0.0000000",
              "selling_liabilities": "0.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {},
          "paging_token": "[source_address]"
        }
  recorded_at: Tue, 31 Mar 2020 19:10:42 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAJA8Jibp68sQkog4sikMusVOeuhVzZVx9r9Vrb0oBNloAAAAZAAKxHUAAAAJAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAACobCYlYwG0X7ZeQD4rm0A4THckLdjxTVIKTCu9PyUIkAAAAAATEtAAAAAAAAAAABKATZaAAAAEAYteTzZs3ACY03Y0EpBzyqc77PxofoR3BwfLcYy7KSZnis7REIbxIJ4vq5gYR0rMCZrKsChihul1%2FEnmY7nhsG
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.8.0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/ec895886aa83980a66b79a579b076489977c790759a01c5558f076a8ac659a37"
            }
          },
          "hash": "ec895886aa83980a66b79a579b076489977c790759a01c5558f076a8ac659a37",
          "ledger": 988989,
          "envelope_xdr": "AAAAAJA8Jibp68sQkog4sikMusVOeuhVzZVx9r9Vrb0oBNloAAAAZAAKxHUAAAAJAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAACobCYlYwG0X7ZeQD4rm0A4THckLdjxTVIKTCu9PyUIkAAAAAATEtAAAAAAAAAAABKATZaAAAAEAYteTzZs3ACY03Y0EpBzyqc77PxofoR3BwfLcYy7KSZnis7REIbxIJ4vq5gYR0rMCZrKsChihul1/EnmY7nhsG",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAQAAAAIAAAADAA8XPQAAAAAAAAAAkDwmJunryxCSiDiyKQy6xU566FXNlXH2v1WtvSgE2WgAAAAWG/9WPAAKxHUAAAAIAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAA8XPQAAAAAAAAAAkDwmJunryxCSiDiyKQy6xU566FXNlXH2v1WtvSgE2WgAAAAWG/9WPAAKxHUAAAAJAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAwAAAAMADxc9AAAAAAAAAACQPCYm6evLEJKIOLIpDLrFTnroVc2Vcfa/Va29KATZaAAAABYb/1Y8AArEdQAAAAkAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEADxc9AAAAAAAAAACQPCYm6evLEJKIOLIpDLrFTnroVc2Vcfa/Va29KATZaAAAABYazik8AArEdQAAAAkAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAADxc9AAAAAAAAAAAKhsJiVjAbRftl5APiubQDhMdyQt2PFNUgpMK70/JQiQAAAAABMS0AAA8XPQAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA=="
        }
  recorded_at: Tue, 31 Mar 2020 19:10:46 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GAFINQTCKYYBWRP3MXSAHYVZWQBYJR3SILOY6FGVECSMFO6T6JIITYV4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.8.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      Latest-Ledger:
      - '988989[...]
[...]
