---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/trades?order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17195'
      X-Ratelimit-Reset:
      - '2379'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/trades?cursor=\u0026limit=10\u0026order=desc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/trades?cursor=40356672354390017-0\u0026limit=10\u0026order=desc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/trades?cursor=40358394636275713-0\u0026limit=10\u0026order=asc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": ""
                  },
                  "base": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GDRLTGH75F7Q2KNZZCLU2NACAAIWYJLH3B7YFFCD7NAU63SSOAE3CVJS"
                  },
                  "counter": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GBMTGMQXBXZS5XJROQQOZB7TU4ACBIXTJJEG7WTXP4ZEARPGQGDWHWIS"
                  },
                  "operation": {
                    "href": "https://horizon-testnet.stellar.org/operations/40358394636275713"
                  }
                },
                "id": "40358394636275713-0",
                "paging_token": "40358394636275713-0",
                "ledger_close_time": "2018-06-08T20:02:50Z",
                "offer_id": "430709",
                "base_account": "GDRLTGH75F7Q2KNZZCLU2NACAAIWYJLH3B7YFFCD7NAU63SSOAE3CVJS",
                "base_amount": "96.9999900",
                "base_asset_type": "native",
                "counter_account": "GBMTGMQXBXZS5XJROQQOZB7TU4ACBIXTJJEG7WTXP4ZEARPGQGDWHWIS",
                "counter_amount": "3879.9996000",
                "counter_asset_type": "credit_alphanum4",
                "counter_asset_code": "OG",
                "counter_asset_issuer": "GB6ASOXVGN7TJ4XHQX7JRJHWRXLS52R44ZIS77HUCUGVQBTUZRSMIDIW",
                "base_is_seller": false,
                "price": {
                  "n": 40,
                  "d": 1
                }
              },
              {
                "_links": {
                  "self": {
                    "href": ""
                  },
                  "base": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GCR6TSGRME5EA6D6LNUJ4PHXMYHFNRH4JSC7M6WFMJVHFDZDSLT6QULP"
                  },
                  "counter": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GCVHU53NNG3GCCZP5W5EFFDRM2SGT4UXS3UABJ6M6TMJL6S74EOKBHXJ"
                  },
                  "operation": {
                    "href": "https://horizon-testnet.stellar.org/operations/40358373161439233"
                  }
                },
                "id": "40358373161439233-0",
                "paging_token": "40358373161439233-0",
                "ledger_close_time": "2018-06-08T20:02:27Z",
                "offer_id": "430708",
                "base_account": "GCR6TSGRME5EA6D6LNUJ4PHXMYHFNRH4JSC7M6WFMJVHFDZDSLT6QULP",
                "base_amount": "0.0000001",
                "base_asset_type": "credit_alphanum4",
                "base_asset_code": "BTC",
                "base_asset_issuer": "GA77B6GK5K3FH2YJ6I5VJ7VPFZKPBQUX2IIC2MJYAERQTGJI4VOPKRYJ",
                "counter_account": "GCVHU53NNG3GCCZP5W5EFFDRM2SGT4UXS3UABJ6M6TMJL6S74EOKBHXJ",
                "counter_amount": "0.0000063",
                "counter_asset_type": "credit_alphanum4",
                "counter_asset_code": "LTC",
                "counter_asset_issuer": "GA77B6GK5K3FH2YJ6I5VJ7VPFZKPBQUX2IIC2MJYAERQTGJI4VOPKRYJ",
                "base_is_seller": false,
                "price": {
                  "n": 200[...]
