---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/trades?cursor=40354490511003649-0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17193'
      X-Ratelimit-Reset:
      - '2354'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/trades?cursor=40354490511003649-0\u0026limit=10\u0026order=asc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/trades?cursor=40356775433605121-0\u0026limit=10\u0026order=asc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/trades?cursor=40355151935967233-0\u0026limit=10\u0026order=desc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": ""
                  },
                  "base": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GDPGREEMJRAU4UR3HQWY3M3B6VOKXGAZE5UOX4JC3SR3ZY2TQBQ2VDF3"
                  },
                  "counter": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GCQSQ6S4X556WIQKJ3MSK35IEIBQLHBN4T4Q7UGX6NSMU7UCVZQG25L4"
                  },
                  "operation": {
                    "href": "https://horizon-testnet.stellar.org/operations/40355151935967233"
                  }
                },
                "id": "40355151935967233-0",
                "paging_token": "40355151935967233-0",
                "ledger_close_time": "2018-06-08T18:59:15Z",
                "offer_id": "81647",
                "base_account": "GDPGREEMJRAU4UR3HQWY3M3B6VOKXGAZE5UOX4JC3SR3ZY2TQBQ2VDF3",
                "base_amount": "4.3333334",
                "base_asset_type": "native",
                "counter_account": "GCQSQ6S4X556WIQKJ3MSK35IEIBQLHBN4T4Q7UGX6NSMU7UCVZQG25L4",
                "counter_amount": "13.0000000",
                "counter_asset_type": "credit_alphanum4",
                "counter_asset_code": "MOBI",
                "counter_asset_issuer": "GDRWBLJURXUKM4RWDZDTPJNX6XBYFO3PSE4H4GPUL6H6RCUQVKTSD4AT",
                "base_is_seller": false,
                "price": {
                  "n": 3,
                  "d": 1
                }
              },
              {
                "_links": {
                  "self": {
                    "href": ""
                  },
                  "base": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GBMTGMQXBXZS5XJROQQOZB7TU4ACBIXTJJEG7WTXP4ZEARPGQGDWHWIS"
                  },
                  "counter": {
                    "href": "https://horizon-testnet.stellar.org/accounts/G[...]
