---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/trades?base_asset_type=native
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17198'
      X-Ratelimit-Reset:
      - '3488'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/server_error",
          "title": "Internal Server Error",
          "status": 500,
          "detail": "An error occurred while processing this request.  This is usually due to a bug within the server software.  Trying this request again may succeed if the bug is transient, otherwise please report this issue to the issue tracker at: https://github.com/stellar/go/services/horizon/internal/issues. Please include this response in your issue."
        }
  recorded_at: Fri, 08 Jun 2018 19:44:53 GMT
recorded_with: VCR 3.0.3
