---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/trades?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17193'
      X-Ratelimit-Reset:
      - '1685'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/trades?cursor=\u0026limit=2\u0026order=asc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/trades?cursor=1409140115116033-0\u0026limit=2\u0026order=asc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/trades?cursor=940258535411713-0\u0026limit=2\u0026order=desc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": ""
                  },
                  "base": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GBYTR4MC5JAX4ALGUBJD7EIKZVM7CUGWKXIUJMRSMK573XH2O7VAK3SR"
                  },
                  "counter": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GBOOAYCAJIN7YCUUAHEQJJARNQMRUP4P2WXVO6P4KAMAB27NGA3CYTZU"
                  },
                  "operation": {
                    "href": "https://horizon-testnet.stellar.org/operations/940258535411713"
                  }
                },
                "id": "940258535411713-0",
                "paging_token": "940258535411713-0",
                "ledger_close_time": "2017-03-30T13:20:41Z",
                "offer_id": "8",
                "base_account": "GBYTR4MC5JAX4ALGUBJD7EIKZVM7CUGWKXIUJMRSMK573XH2O7VAK3SR",
                "base_amount": "1.0000000",
                "base_asset_type": "credit_alphanum4",
                "base_asset_code": "BTC",
                "base_asset_issuer": "GB6FN4C7ZLWKENAOZDLZOQHNIOK4RDMV6EKLR53LWCHEBR6LVXOEKDZH",
                "counter_account": "GBOOAYCAJIN7YCUUAHEQJJARNQMRUP4P2WXVO6P4KAMAB27NGA3CYTZU",
                "counter_amount": "1.0000000",
                "counter_asset_type": "native",
                "base_is_seller": true,
                "price": {
                  "n": 1,
                  "d": 1
                }
              },
              {
                "_links": {
                  "self": {
                    "href": ""
                  },
                  "base": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GBRUD5EPKUM4LAMME6YRCGAEZULJRNSOF33OKSLGQFRN6Q53RLL26A7D"
                  },
                  "counter": {
                    "href": "https://horizon-testnet.stellar.org/accounts/GCSXPQGE3GOEU2G7HIB7TZBL6SR3SNY2QDDPZPAS77ANK3Q6N2YD53R2"
                  },
                  "operation": {
                    "href": "https://horizon-testnet.stellar.org/operations/1409140115116033"
                  }
                },
                "id": "1409140115116033-0",
                "paging_token": "1409140115116033-0",
                "ledger_close_time": "2017-04-04T15:28:48Z",
                "offer_id": "9",
                "base_account": "GBRUD5EPKUM4LAMME6YRCGAEZULJRNSOF33OKSLGQFRN6Q53RLL26A7D",
                "base_amount": "1.0000000",
                "base_asset_type": "native",
                "counter_account": "GCSXPQGE3GOEU2G7HIB7TZBL6SR3SNY2QDDPZPAS77ANK3Q6N2YD53R2",
                "counter_amount": "1.0000000",
                "counter_asset_type": "credit_alphanum4",
                "counter_asset_code": "A",
                "counter_asset_issuer": "GCLMPRWLKV4DVHRURAGN5AMPOV6JH23LIIIIM5H4YY5CLD3IVYWWNLMD",
                "base_is_seller": false,
                "price": {
                  "n": 1,
                  "d": 1
                }
              }
            ]
          }
        }
  recorded_at: Fri, 08 Jun 2018 19:11:03 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/trades?cursor=&limit=2&order=asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17193'
      X-Ratelimit-[...]
