---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71979'
      X-Ratelimit-Reset:
      - '2619'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.10.0",
          "core_version": "v0.6.1-2-g12a1603",
          "history_latest_ledger": 81117,
          "history_elder_ledger": 1,
          "core_latest_ledger": 81117,
          "core_elder_ledger": 1,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 4
        }
  recorded_at: Fri, 24 Mar 2017 08:14:39 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[funded_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71978'
      X-Ratelimit-Reset:
      - '2618'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[funded_address]",
          "paging_token": "",
          "account_id": "[funded_address]",
          "sequence": "346973227974660",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "9200.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[funded_address]",
              "weight": 1,
              "key": "[funded_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Fri, 24 Mar 2017 08:14:40 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GBPK4J2GL3SBOCSC24242TZIF3NMQBTO2KE7VZNXJKU7TPUP6XHOLKJJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71976'
      X-Ratelimit-Reset:
      - '2613'
    body:
      encoding: UTF-8
    [...]
[...]
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAKEiSt7wL8zHIfwsJF5PvoI%2FqW7Epb2ihhiW7lxPpHJCO5rKAAABO5IAAAAGAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA0gc7NA3%2Fhzv6bMdOjaBHoE5uyAEMUsQOEbrzfmjnFtEAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEBt72SRlRS2s4jCjU9JOOaOKEgiASH2msMSLN%2FtSTaBTFUe3X7pvxoKGIAHs8A2rBUBPAcgIrLQBHCf9%2BDq%2BNcO
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71973'
      X-Ratelimit-Reset:
      - '2441'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/08c0e43355111c34428f2b1e192ef1705478932eacd16351017126ca7967b230"
            }
          },
          "hash": "08c0e43355111c34428f2b1e192ef1705478932eacd16351017126ca7967b230",
          "ledger": 81164,
          "envelope_xdr": "AAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCO5rKAAABO5IAAAAGAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA0gc7NA3/hzv6bMdOjaBHoE5uyAEMUsQOEbrzfmjnFtEAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEBt72SRlRS2s4jCjU9JOOaOKEgiASH2msMSLN/tSTaBTFUe3X7pvxoKGIAHs8A2rBUBPAcgIrLQBHCf9+Dq+NcO",
          "result_xdr": "AAAAADuaygAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAAAAAAEAAAACAAAAAAABPQwAAAAAAAAAANIHOzQN/4c7+mzHTo2gR6BObsgBDFLEDhG6835o5xbRAAAAADuaygAAAT0MAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQABPQwAAAAAAAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAFH01cAAAATuSAAAABgAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA"
        }
  recorded_at: Fri, 24 Mar 2017 08:17:41 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GDJAOOZUBX7YOO72NTDU5DNAI6QE43WIAEGFFRAOCG5PG7TI44LNDKKY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71972'
      X-Ratelimit-Reset:
      - '2436'
    body:
      encoding: UTF-8
    [...]
