---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[funded_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71994'
      X-Ratelimit-Reset:
      - '3227'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[funded_address]",
          "paging_token": "",
          "account_id": "[funded_address]",
          "sequence": "346973227974656",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "10000.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[funded_address]",
              "weight": 1,
              "key": "[funded_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Fri, 24 Mar 2017 08:04:31 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71992'
      X-Ratelimit-Reset:
      - '3094'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.10.0",
          "core_version": "v0.6.1-2-g12a1603",
          "history_latest_ledger": 80986,
          "history_elder_ledger": 1,
          "core_latest_ledger": 80987,
          "core_elder_ledger": 1,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 4
        }
  recorded_at: Fri, 24 Mar 2017 08:06:44 GMT
[...]
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAKEiSt7wL8zHIfwsJF5PvoI%2FqW7Epb2ihhiW7lxPpHJCO5rKAAABO5IAAAACAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAArKmwt%2BJsz4kFUw0HcLRw27C3%2Fw4WF2YUmxU6j8tU3rQAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEArcyZCFergeu3HHlEBBmZXys2VjeJdtR8KkXLvUPI3nPc8c%2B7kfI9GC2T%2FQK6Bgd1izHq2blOq%2B3iCU84YTWYC
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71990'
      X-Ratelimit-Reset:
      - '3092'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/90f5d5f73cc006e5f1d7ed9fb6b14a2a9417cb64ba75ed260792a859e3770b73"
            }
          },
          "hash": "90f5d5f73cc006e5f1d7ed9fb6b14a2a9417cb64ba75ed260792a859e3770b73",
          "ledger": 80989,
          "envelope_xdr": "AAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCO5rKAAABO5IAAAACAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAArKmwt+Jsz4kFUw0HcLRw27C3/w4WF2YUmxU6j8tU3rQAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEArcyZCFergeu3HHlEBBmZXys2VjeJdtR8KkXLvUPI3nPc8c+7kfI9GC2T/QK6Bgd1izHq2blOq+3iCU84YTWYC",
          "result_xdr": "AAAAADuaygAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAAAAAAEAAAACAAAAAAABPF0AAAAAAAAAAKypsLfibM+JBVMNB3C0cNuwt/8OFhdmFJsVOo/LVN60AAAAADuaygAAATxdAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQABPF0AAAAAAAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAFloLwAAAATuSAAAAAgAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA"
        }
  recorded_at: Fri, 24 Mar 2017 08:06:52 GMT
recorded_with: VCR 3.0.3
