---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "accounts": {
              "href": "https://horizon-testnet.stellar.org/accounts{?signer,asset,cursor,limit,order}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://friendbot.stellar.org/{?addr}",
              "templated": true
            },
            "offer": {
              "href": "https://horizon-testnet.stellar.org/offers/{offer_id}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/offers{?selling,buying,seller,cursor,limit,order}",
              "templated": true
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "strict_receive_paths": {
              "href": "https://horizon-testnet.stellar.org/paths/strict-receive{?source_assets,source_account,destination_account,destination_asset_type,destination_asset_issuer,destination_asset_code,destination_amount}",
              "templated": true
            },
            "strict_send_paths": {
              "href": "https://horizon-testnet.stellar.org/paths/strict-send{?destination_account,destination_assets,source_asset_type,source_asset_issuer,source_asset_code,source_amount}",
              "templated": true
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "1.0.0-948d8d1221abd4f15cac2d3a9eb44b31633cd3b9",
          "core_version": "stellar-core 12.4.0 (c0136139802ac1a1ac8899424e7888fa9366414e)",
          "ingest_latest_ledger": 705776,
          "history_latest_ledger": 705776,
          "history_elder_ledger": 1,
          "core_latest_ledger": 705776,
          "network_passphrase": "Test SDF Network ; September 2015",
          "current_protocol_version": 12,
          "core_supported_protocol_version": 12
        }
  recorded_at: Fri, 13 Mar 2020 22:04:22 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      Latest-Ledger:
      - '705776'
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "account_id": "[source_address]",
          "sequence": "3030756557324291",
          "subentry_count": 0,
          "last_modified_ledger": 705763,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false,
            "auth_immutable": false
          },
          "balances": [
            {
              "balance": "9748.9999700",
              "buying_liabilities": "0.0000000",
              "selling_liabilities": "0.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {},
          "paging_token": "[source_address]"
        }
  recorded_at: Fri, 13 Mar 2020 22:04:23 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAJA8Jibp68sQkog4sikMusVOeuhVzZVx9r9Vrb0oBNloAAAAZAAKxHUAAAAEAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA9QqTNlm%2BtDLDn81hHZYRBtxwjCvWVVOdJDagVQToIXQAAAAAAJiWgAAAAAAAAAABKATZaAAAAECDB4gukzFEXTESpOMHcccTPipSdjZ4zPF1CvVcrh1Y2c9YabOGSUYbaNWnU6Aw%2Fu1Ymvr4%2BKOKYuE3GTco4XUE
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/4224b57fa72d95abb891dc6070ccf2d9cfaad84a7f8c0f4219bb0ab16c107e30"
            }
          },
          "hash": "4224b57fa72d95abb891dc6070ccf2d9cfaad84a7f8c0f4219bb0ab16c107e30",
          "ledger": 705777,
          "envelope_xdr": "AAAAAJA8Jibp68sQkog4sikMusVOeuhVzZVx9r9Vrb0oBNloAAAAZAAKxHUAAAAEAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA9QqTNlm+tDLDn81hHZYRBtxwjCvWVVOdJDagVQToIXQAAAAAAJiWgAAAAAAAAAABKATZaAAAAECDB4gukzFEXTESpOMHcccTPipSdjZ4zPF1CvVcrh1Y2c9YabOGSUYbaNWnU6Aw/u1Ymvr4+KOKYuE3GTco4XUE",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAQAAAAIAAAADAArE8QAAAAAAAAAAkDwmJunryxCSiDiyKQy6xU566FXNlXH2v1WtvSgE2WgAAAAWsttW8AAKxHUAAAADAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAArE8QAAAAAAAAAAkDwmJunryxCSiDiyKQy6xU566FXNlXH2v1WtvSgE2WgAAAAWsttW8AAKxHUAAAAEAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAwAAAAMACsTxAAAAAAAAAACQPCYm6evLEJKIOLIpDLrFTnroVc2Vcfa/Va29KATZaAAAABay21bwAArEdQAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEACsTxAAAAAAAAAACQPCYm6evLEJKIOLIpDLrFTnroVc2Vcfa/Va29KATZaAAAABayQsBwAArEdQAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAACsTxAAAAAAAAAAD1CpM2Wb60MsOfzWEdlhEG3HCMK9ZVU50kNqBVBOghdAAAAAAAmJaAAArE8QAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA=="
        }
  recorded_at: Fri, 13 Mar 2020 22:04:27 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[channel_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      Latest-Ledger:
      - '705777'
      X-Ratelimit-Limit:
      - '101[...]
[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/transactions/23a512d0b68fe98678407eb6095e0db48c2313d840823158b28eb0dcd516b517
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/transactions/23a512d0b68fe98678407eb6095e0db48c2313d840823158b28eb0dcd516b517/operations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/transactions/23a512d0b68fe98678407eb6095e0db48c2313d840823158b28eb0dcd516b517/operations?cursor=\u0026limit=10\u0026order=asc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/transactions/23a512d0b68fe98678407eb6095e0db48c2313d840823158b28eb0dcd516b517/operations?cursor=3031293428244481\u0026limit=10\u0026order=asc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/transactions/23a512d0b68fe98678407eb6095e0db48c2313d840823158b28eb0dcd516b517/operations?cursor=3031293428244481\u0026limit=10\u0026order=desc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/3031293428244481"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/23a512d0b68fe98678407eb6095e0db48c2313d840823158b28eb0dcd516b517"
                  },
                  "effects": {
                    "href": "https://horizon-testnet.stellar.org/operations/3031293428244481/effects"
                  },
                  "succeeds": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=desc\u0026cursor=3031293428244481"
                  },
                  "precedes": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=asc\u0026cursor=3031293428244481"
                  }
                },
                "id": "3031293428244481",
                "paging_token": "3031293428244481",
                "transaction_successful": true,
                "source_account": "[source_address]",
                "type": "payment",
                "type_i": 1,
                "created_at": "2020-03-13T22:04:31Z",
                "transaction_hash": "23a512d0b68fe98678407eb6095e0db48c2313d840823158b28eb0dcd516b517",
                "asset_type": "native",
                "from": "[source_address]",
                "to": "GD2QVEZWLG7LIMWDT7GWCHMWCEDNY4EMFPLFKU45EQ3KAVIE5AQXJZ64",
                "amount": "0.5500000"
              }
            ]
          }
        }
  recorded_at: Fri, 13 Mar 2020 22:04:34 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GD2QVEZWLG7LIMWDT7GWCHMWCEDNY4EMFPLFKU45EQ3KAVIE5AQXJZ64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      Latest-Ledger:
      - '705778[...]
