---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "accounts": {
              "href": "https://horizon-testnet.stellar.org/accounts{?signer,asset,cursor,limit,order}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://friendbot.stellar.org/{?addr}",
              "templated": true
            },
            "offer": {
              "href": "https://horizon-testnet.stellar.org/offers/{offer_id}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/offers{?selling,buying,seller,cursor,limit,order}",
              "templated": true
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "strict_receive_paths": {
              "href": "https://horizon-testnet.stellar.org/paths/strict-receive{?source_assets,source_account,destination_account,destination_asset_type,destination_asset_issuer,destination_asset_code,destination_amount}",
              "templated": true
            },
            "strict_send_paths": {
              "href": "https://horizon-testnet.stellar.org/paths/strict-send{?destination_account,destination_assets,source_asset_type,source_asset_issuer,source_asset_code,source_amount}",
              "templated": true
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "1.0.0-948d8d1221abd4f15cac2d3a9eb44b31633cd3b9",
          "core_version": "stellar-core 12.4.0 (c0136139802ac1a1ac8899424e7888fa9366414e)",
          "ingest_latest_ledger": 705782,
          "history_latest_ledger": 705782,
          "history_elder_ledger": 1,
          "core_latest_ledger": 705783,
          "network_passphrase": "Test SDF Network ; September 2015",
          "current_protocol_version": 12,
          "core_supported_protocol_version": 12
        }
  recorded_at: Fri, 13 Mar 2020 22:04:58 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      Latest-Ledger:
      - '705783'
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "account_id": "[source_address]",
          "sequence": "3030756557324292",
          "subentry_count": 0,
          "last_modified_ledger": 705778,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false,
            "auth_immutable": false
          },
          "balances": [
            {
              "balance": "9747.4499600",
              "buying_liabilities": "0.0000000",
              "selling_liabilities": "0.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {},
          "paging_token": "[source_address]"
        }
  recorded_at: Fri, 13 Mar 2020 22:04:58 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAJA8Jibp68sQkog4sikMusVOeuhVzZVx9r9Vrb0oBNloAAAAZAAKxHUAAAAFAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA%2F6A%2FxEN%2FdkGyiPddIfkV5rplKJBVbqklTzCa9TQoqwwAAAAAAJiWgAAAAAAAAAABKATZaAAAAEAWAqp%2FRIdl%2Fkm24l2evhuNJnIgToaNfntXVM6IfptmGoNUoVXc4akNS2WG2rDOT%2F0RPnuMvnhl1zKW4LmDmrkN
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/2b8ab52552bb81882f9f7b99f838f76cf0a8728d1b9ab9034a1e3a85d8cac23e"
            }
          },
          "hash": "2b8ab52552bb81882f9f7b99f838f76cf0a8728d1b9ab9034a1e3a85d8cac23e",
          "ledger": 705784,
          "envelope_xdr": "AAAAAJA8Jibp68sQkog4sikMusVOeuhVzZVx9r9Vrb0oBNloAAAAZAAKxHUAAAAFAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA/6A/xEN/dkGyiPddIfkV5rplKJBVbqklTzCa9TQoqwwAAAAAAJiWgAAAAAAAAAABKATZaAAAAEAWAqp/RIdl/km24l2evhuNJnIgToaNfntXVM6IfptmGoNUoVXc4akNS2WG2rDOT/0RPnuMvnhl1zKW4LmDmrkN",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAQAAAAIAAAADAArE+AAAAAAAAAAAkDwmJunryxCSiDiyKQy6xU566FXNlXH2v1WtvSgE2WgAAAAWse7TrAAKxHUAAAAEAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAArE+AAAAAAAAAAAkDwmJunryxCSiDiyKQy6xU566FXNlXH2v1WtvSgE2WgAAAAWse7TrAAKxHUAAAAFAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAwAAAAMACsT4AAAAAAAAAACQPCYm6evLEJKIOLIpDLrFTnroVc2Vcfa/Va29KATZaAAAABax7tOsAArEdQAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEACsT4AAAAAAAAAACQPCYm6evLEJKIOLIpDLrFTnroVc2Vcfa/Va29KATZaAAAABaxVj0sAArEdQAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAACsT4AAAAAAAAAAD/oD/EQ392QbKI910h+RXmumUokFVuqSVPMJr1NCirDAAAAAAAmJaAAArE+AAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA=="
        }
  recorded_at: Fri, 13 Mar 2020 22:05:04 GMT
[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/transactions/0b00554e45ab71d5ef897ea2f9d2caa4cb49ed7c42b0a59780234e0abdb6d0fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/transactions/0b00554e45ab71d5ef897ea2f9d2caa4cb49ed7c42b0a59780234e0abdb6d0fe/operations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-stellar-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/transactions/0b00554e45ab71d5ef897ea2f9d2caa4cb49ed7c42b0a59780234e0abdb6d0fe/operations?cursor=\u0026limit=10\u0026order=asc"
            },
            "next": {
              "href": "https://horizon-testnet.stellar.org/transactions/0b00554e45ab71d5ef897ea2f9d2caa4cb49ed7c42b0a59780234e0abdb6d0fe/operations?cursor=3031323493027841\u0026limit=10\u0026order=asc"
            },
            "prev": {
              "href": "https://horizon-testnet.stellar.org/transactions/0b00554e45ab71d5ef897ea2f9d2caa4cb49ed7c42b0a59780234e0abdb6d0fe/operations?cursor=3031323493027841\u0026limit=10\u0026order=desc"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": "https://horizon-testnet.stellar.org/operations/3031323493027841"
                  },
                  "transaction": {
                    "href": "https://horizon-testnet.stellar.org/transactions/0b00554e45ab71d5ef897ea2f9d2caa4cb49ed7c42b0a59780234e0abdb6d0fe"
                  },
                  "effects": {
                    "href": "https://horizon-testnet.stellar.org/operations/3031323493027841/effects"
                  },
                  "succeeds": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=desc\u0026cursor=3031323493027841"
                  },
                  "precedes": {
                    "href": "https://horizon-testnet.stellar.org/effects?order=asc\u0026cursor=3031323493027841"
                  }
                },
                "id": "3031323493027841",
                "paging_token": "3031323493027841",
                "transaction_successful": true,
                "source_account": "[source_address]",
                "type": "payment",
                "type_i": 1,
                "created_at": "2020-03-13T22:05:07Z",
                "transaction_hash": "0b00554e45ab71d5ef897ea2f9d2caa4cb49ed7c42b0a59780234e0abdb6d0fe",
                "asset_type": "native",
                "from": "[source_address]",
                "to": "GD72AP6EIN7XMQNSRD3V2IPZCXTLUZJISBKW5KJFJ4YJV5JUFCVQYQQX",
                "amount": "0.5500000"
              }
            ]
          }
        }
  recorded_at: Fri, 13 Mar 2020 22:05:09 GMT
recorded_with: VCR 3.0.3
