---
# Source must be funded already
# Use https://www.stellar.org/laboratory/#account-creator?network=test
# These ones in the sample are just randomly generated ones; enough for tests
# to pass (as long as we're not re-recording)
source_seed: "SALQBNNRCXWD32E4QKIXKXCMXCPJKWUP34EAK53SP6PNGAUVWSAM5IUQ"
source_address: "GCIDYJRG5HV4WEESRA4LEKIMXLCU46XIKXGZK4PWX5K23PJIATMWR3UE"
