---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17145'
      X-Ratelimit-Reset:
      - '621'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://friendbot.stellar.org/{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "0.14.0-81f12a7e313bc469b229cd89c7843a7fc1db9403",
          "core_version": "stellar-core 10.0.0 (1fc018b4f52e8c7e716b023ccf30600af5b4f66d)",
          "history_latest_ledger": 11017956,
          "history_elder_ledger": 1,
          "core_latest_ledger": 11017956,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 10
        }
  recorded_at: Wed, 12 Sep 2018 16:02:54 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17146'
      X-Ratelimit-Reset:
      - '621'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "paging_token": "",
          "account_id": "[source_address]",
          "sequence": "39136008289124443",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "99.9990900",
              "buying_liabilities": "0.0000000",
              "selling_liabilities": "0.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[source_address]",
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Wed, 12 Sep 2018 16:02:55 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAJA8Jibp68sQkog4sikMusVOeuhVzZVx9r9Vrb0oBNloAAAAZACLCf4AAABcAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAuHhhDFKc4kbOYilqk3u4L33FHzI94V6YBqGVsxCF8fMAAAAAO5rKAAAAAAAAAAABKATZaAAAAECL8sAn%2FF7SZpY76zaPL%2F9yoqiLpbdThESCpjVQFKtsYk0IRz2%2B%2B5FnsRkYLt1JizmQPCAj2QcZMudQg2j6%2BLEI
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17145'
      X-Ratelimit-Reset:
      - '619'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/transaction_failed",
          "title": "Transaction Failed",
          "status": 400,
          "detail": "The transaction failed when submitted to the stellar network. The `extras.result_codes` field on this response contains further details.  Descriptions of each code can be found at: https://www.stellar.org/developers/learn/concepts/list-of-operations.html",
          "extras": {
            "envelope_xdr": "AAAAAJA8Jibp68sQkog4sikMusVOeuhVzZVx9r9Vrb0oBNloAAAAZACLCf4AAABcAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAuHhhDFKc4kbOYilqk3u4L33FHzI94V6YBqGVsxCF8fMAAAAAO5rKAAAAAAAAAAABKATZaAAAAECL8sAn/F7SZpY76zaPL/9yoqiLpbdThESCpjVQFKtsYk0IRz2++5FnsRkYLt1JizmQPCAj2QcZMudQg2j6+LEI",
            "result_codes": {
              "transaction": "tx_failed",
              "operations": [
                "op_underfunded"
              ]
            },
            "result_xdr": "AAAAAAAAAGT/////AAAAAQAAAAAAAAAA/////gAAAAA="
          }
        }
  recorded_at: Wed, 12 Sep 2018 16:02:59 GMT
recorded_with: VCR 3.0.3
