---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71946'
      X-Ratelimit-Reset:
      - '2156'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.10.0-3-g50eda21",
          "core_version": "v0.6.1-2-g12a1603",
          "history_latest_ledger": 124860,
          "history_elder_ledger": 1,
          "core_latest_ledger": 124860,
          "core_elder_ledger": 1,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 4
        }
  recorded_at: Sun, 26 Mar 2017 07:28:48 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71945'
      X-Ratelimit-Reset:
      - '2155'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "paging_token": "",
          "account_id": "[source_address]",
          "sequence": "346973227974694",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "4749.9998600",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[source_address]",
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Sun, 26 Mar 2017 07:28:49 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAKEiSt7wL8zHIfwsJF5PvoI%2FqW7Epb2ihhiW7lxPpHJCO5rKAAABO5IAAAAnAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA3EVejc%2BkLyLyCCoS3V6dhSxNnPdQkAV2zvUkRTyAdLsAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEBMVplDCKfB%2FOZaf%2FLGaOI3pLL00YzE%2FI%2Fyvsnmy5Y3oPNCHmIwkUDgTC5Eob7cXqGVpy92VdwjoMXeUz5Imz4E
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71944'
      X-Ratelimit-Reset:
      - '2154'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/4e61a390afc10a26f6fe64470cff4f8b7e58a6dd237743d2e674343ae4edcf53"
            }
          },
          "hash": "4e61a390afc10a26f6fe64470cff4f8b7e58a6dd237743d2e674343ae4edcf53",
          "ledger": 124862,
          "envelope_xdr": "AAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCO5rKAAABO5IAAAAnAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA3EVejc+kLyLyCCoS3V6dhSxNnPdQkAV2zvUkRTyAdLsAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEBMVplDCKfB/OZaf/LGaOI3pLL00YzE/I/yvsnmy5Y3oPNCHmIwkUDgTC5Eob7cXqGVpy92VdwjoMXeUz5Imz4E",
          "result_xdr": "AAAAADuaygAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAAAAAAEAAAACAAAAAAAB574AAAAAAAAAANxFXo3PpC8i8ggqEt1enYUsTZz3UJAFds71JEU8gHS7AAAAADuaygAAAee+AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQAB574AAAAAAAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAACpgC4YgAATuSAAAAJwAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA"
        }
  recorded_at: Sun, 26 Mar 2017 07:28:55 GMT
[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GDOEKXUNZ6SC6IXSBAVBFXK6TWCSYTM465IJABLWZ32SIRJ4QB2LW247
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71941'
      X-Ratelimit-Reset:
      - '2142'
    body:
      encoding: UTF-8
    [...]
