---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17179'
      X-Ratelimit-Reset:
      - '3183'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "snapshot-1bf713b",
          "core_version": "stellar-core 9.2.0rc6 (b0923f153b86d394a83b2a619db6b23f07ed0700)",
          "history_latest_ledger": 9341700,
          "history_elder_ledger": 1,
          "core_latest_ledger": 9341700,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 9
        }
  recorded_at: Tue, 05 Jun 2018 15:15:37 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17178'
      X-Ratelimit-Reset:
      - '3182'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "paging_token": "",
          "account_id": "[source_address]",
          "sequence": "346973227974784",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "964.9990600",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[source_address]",
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Tue, 05 Jun 2018 15:15:39 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAKEiSt7wL8zHIfwsJF5PvoI%2FqW7Epb2ihhiW7lxPpHJCAAAAZAABO5IAAACBAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA4BfMAardmRm9twywweWFzR2ynIW3T986u5CqHM0UiwUAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEDyxggtxPkrRSmROhSHRcBXvTFCFpfq5OCYxwqjQB5uLhMdS3ZXqM%2FyTelODeJyM5qdzq40DDh4lYzCjxUzJ7UJ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17177'
      X-Ratelimit-Reset:
      - '3181'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/3d1008c0c4ecc0835caf3d04bfb65432c6a578ccf0addb2eb16dd12be5d0dde2"
            }
          },
          "hash": "3d1008c0c4ecc0835caf3d04bfb65432c6a578ccf0addb2eb16dd12be5d0dde2",
          "ledger": 9341702,
          "envelope_xdr": "AAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAZAABO5IAAACBAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA4BfMAardmRm9twywweWFzR2ynIW3T986u5CqHM0UiwUAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEDyxggtxPkrRSmROhSHRcBXvTFCFpfq5OCYxwqjQB5uLhMdS3ZXqM/yTelODeJyM5qdzq40DDh4lYzCjxUzJ7UJ",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAAAAAAEAAAADAAAAAACOiwYAAAAAAAAAAOAXzAGq3ZkZvbcMsMHlhc0dspyFt0/fOruQqhzNFIsFAAAAADuaygAAjosGAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAwCOiwYAAAAAAAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAAj8vK2QAATuSAAAAgQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQCOiwYAAAAAAAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAAgOUYWQAATuSAAAAgQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA"
        }
  recorded_at: Tue, 05 Jun 2018 15:15:44 GMT
[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GDQBPTABVLOZSGN5W4GLBQPFQXGR3MU4QW3U7XZ2XOIKUHGNCSFQLA5P
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17175'
      X-Ratelimit-Reset:
      - '[...]
[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GCADQV7GWMSVQKEVPEXVSCO456L4S7ZALJZXW4F5H6KOJ3IMMTVRZDH2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17173'
      X-Ratelimit-Reset:
      - '[...]
