---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71954'
      X-Ratelimit-Reset:
      - '2154'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.10.0-3-g50eda21",
          "core_version": "v0.6.1-2-g12a1603",
          "history_latest_ledger": 120260,
          "history_elder_ledger": 1,
          "core_latest_ledger": 120260,
          "core_elder_ledger": 1,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 4
        }
  recorded_at: Sun, 26 Mar 2017 02:37:22 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/[funded_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71953'
      X-Ratelimit-Reset:
      - '2153'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/[funded_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[funded_address]",
          "paging_token": "",
          "account_id": "[funded_address]",
          "sequence": "346973227974663",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "8600.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[funded_address]",
              "weight": 1,
              "key": "[funded_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Sun, 26 Mar 2017 02:37:24 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAKEiSt7wL8zHIfwsJF5PvoI%2FqW7Epb2ihhiW7lxPpHJCO5rKAAABO5IAAAAIAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAFYEF4UyWm5HHkM4b5ka%2BP9rVebI%2B0ZuJGLlUCwdIm9IAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEAw357sGECpugPoEhhmFuR6TVkwYeZNVo4tTzvu3osVFOs2pSlgjyIWQV4YiQzvxr55Ux%2Fp%2F0sKlk00FFi%2BvicI
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71952'
      X-Ratelimit-Reset:
      - '2152'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/6d03fc6e609ee085019317a029a3d874de50adc7d77131fa68acc18a0690460c"
            }
          },
          "hash": "6d03fc6e609ee085019317a029a3d874de50adc7d77131fa68acc18a0690460c",
          "ledger": 120262,
          "envelope_xdr": "AAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCO5rKAAABO5IAAAAIAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAFYEF4UyWm5HHkM4b5ka+P9rVebI+0ZuJGLlUCwdIm9IAAAAAO5rKAAAAAAAAAAABT6RyQgAAAEAw357sGECpugPoEhhmFuR6TVkwYeZNVo4tTzvu3osVFOs2pSlgjyIWQV4YiQzvxr55Ux/p/0sKlk00FFi+vicI",
          "result_xdr": "AAAAADuaygAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAAAAAAEAAAACAAAAAAAB1cYAAAAAAAAAABWBBeFMlpuRx5DOG+ZGvj/a1XmyPtGbiRi5VAsHSJvSAAAAADuaygAAAdXGAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQAB1cYAAAAAAAAAAKEiSt7wL8zHIfwsJF5PvoI/qW7Epb2ihhiW7lxPpHJCAAAAE47KSAAAATuSAAAACAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA"
        }
  recorded_at: Sun, 26 Mar 2017 02:37:29 GMT
[...]
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GAKYCBPBJSLJXEOHSDHBXZSGXY75VVLZWI7NDG4JDC4VICYHJCN5FYNW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71949'
      X-Ratelimit-Reset:
      - '2139'
    body:
      encoding: UTF-8
    [...]
