name: Security Checks
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
  - cron: '43 0 * * 4'

jobs:
  semgrep:
    name: Scan with Semgrep
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: returntocorp/semgrep-action@v1
      with:
        generateSarif: "1"
        auditOn: push
        publishToken: ${{ secrets.SEMGREP_APP_TOKEN }}
        publishDeployment: ${{ secrets.SEMGREP_DEPLOYMENT_ID }}
    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: semgrep.sarif
      if: always()

  snyk:
    name: Scan with Snyk
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Run Snyk to check for vulnerabilities
      uses: snyk/actions/ruby@master
      continue-on-error: true
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        args: --sarif-file-output=snyk.sarif
    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: snyk.sarif
      if: always()

  fossa:
    name: Check licenses with Fossa
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Analyze the licences with `fossa`
      uses: fossa-contrib/fossa-action@v1.1.4
      with:
        fossa-api-key: ${{ secrets.FOSSA_API_KEY }}
        github-token: ${{ github.token }}
